<div class="row">
  <div class="col-md-3">
    <a [routerLink]="['/']" routerLinkActive="active"><button class="btn"><i class="fa fa-arrow-left"></i> Home</button></a>
  </div>
  <p></p>>
  <p></p>
  <p></p>
  <p></p>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 ball">
    <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm">
      <div class="form-group has-search">
        <label for="question" class="label-text">Question</label>
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Enter your question here"
         name="question" required ngModel  [(ngModel)]="question"
         (ngModelChange)="questionChange($event)"
         >
      </div>
      <button class="getresp-button" [disabled]="formulaire.invalid">Get Response</button>


    </form>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <p></p>>
  <p></p>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">

    <div *ngIf="response && question" >
      <div>
        <h3>Response</h3>
      </div>
      <div class="answer">
        {{response}}
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>


