input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(29, 30, 31);
  border-radius: 8px;

  /* background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat; */
}

input[type=text]:focus {
  background-color: rgb(242, 247, 248);
}


.has-search .form-control {
  padding-left: 3rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
  color: rgb(17, 16, 16);
}

.label-text{
  font-size: 25px;
  color: black;
}
.getresp-button{

  background-color: #174350; /* Green */
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 20px;

}

.getresp-button:disabled,
.getresp-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.answer{
  background-color: white;
  color: black;
  border:  2px solid rgb(29, 30, 31);
  width: 100%;
  height: 100px;
  border-radius: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}


 /* Style buttons */
 .btn {
  background-color: rgb(39, 8, 80); /* Blue background */
  border: none; /* Remove borders */
  border-radius: 5px;
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-left: 10px;
  margin-top: 10px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
